{{> header}}
<section class="home-NLab">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="gobackto">
          {{> gobackto}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="image" style="text-align: right;">
          <img src="/img/NLab-error.png" class="img-responsive">
        </div>
      </div>
      <div class="col-6">
        <div class="title-section">
          <h2>500 - El servidor explotó por un error desconocido</h2>
        </div>
      </div>
    </div>
  </div>
</section>