{{> header}}
<section class="about-nlab">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="gobackto">
          {{> gobackto}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="image">
          <img src="/img/NLab-happy.png" alt="about" class="img-responsive">
        </div>
      </div>
      <div class="col-6">
        <div class="text">
          <h3>Soy Nicolas Neupert Juan</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat faucibus suscipit. 
          Integer sit amet metus efficitur, sagittis ex quis, efficitur ex. Nam suscipit vestibulum odio, 
          ut bibendum tortor dictum at. Pellentesque suscipit lobortis erat, sed consequat libero iaculis 
          eget. Sed nec feugiat libero, quis ornare erat. Phasellus suscipit nisi vel lectus feugiat, ut 
          placerat augue lacinia. Donec in diam gravida, tristique eros sit amet, porttitor eros. Sed lacinia 
          est elit, non interdum purus porta sed. Mauris gravida tincidunt risus, quis semper sapien.</p>
          <p>Phasellus facilisis nulla nisl, vitae gravida ipsum dignissim quis. Mauris consectetur tristique 
            urna vitae dictum. Sed facilisis at turpis ut ultrices. Aliquam vitae lacus interdum ligula luctus 
            hendrerit et et eros. Nulla posuere et mauris et ornare. Aenean sollicitudin tristique neque aliquam 
            aliquet. Sed convallis neque eu tempus bibendum. Donec vitae eleifend massa, eget dapibus nulla. 
            Vestibulum eros tellus, semper eu aliquam sed, hendrerit vitae sem. Fusce iaculis tempor nisl et 
            malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis 
            egestas. Morbi consectetur arcu nec tellus fermentum porttitor. Nulla sodales lectus at metus interdum 
            egestas. Maecenas in fringilla purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce semper arcu quis nisi dapibus, eu semper sapien egestas.</p>
        </div>
      </div>
    </div>
  </div>
</section>