{{> header}}
<section class="home-NLab">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="gobackto">
          {{> gobackto}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="/img/NLab-error.png" class="img-responsive">
      </div>
      <div class="col-6">
        <div class="text">
          <h3>Se ha eliminado con éxito el artículo "{{title}}" ({{id}})</h3>
        </div>
      </div>
    </div>
  </div>
</section>