<div class="widget-action">
    <p class="descript">Action Toolbar</p>
    <div class="updateButton">
        <a href="/post/{{id}}/update" class="btn btn-primary">Editar</a>
    </div>
    <div class="removeButton">
        <form action="/post/{{id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>