<header class="header-blog">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <div class="brand-logo">
          <a class="brand" href="/">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 176 128" style="enable-background:new 0 0 176 128;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#D9D280;}
                .st1{fill:#F299B2;}
                .st2{fill:#55B9D9;}
                .st3{fill:#F1E30F;}
              </style>
              <g>
                <polygon class="st0" points="46.53,116.28 101.96,124.64 101.96,126.59 46.53,118.07 	"/>
                <polygon class="st0" points="103.25,124.45 130.77,108.51 130.77,109.52 103.25,126.19 	"/>
                <path class="st1" d="M102.48,123.42l-54.38-8.2l17.81-8.26c1.19,0.13,2.43,0.26,3.72,0.39c0.04,1.17,0.38,3.76,2.33,5.86
                  c1.83,1.97,4.59,2.96,8.19,2.96c0.78,0,1.58,0,2.4,0.01c0.88,0,1.78,0.01,2.69,0.01c9.9,0,20.92-0.4,22.45-5.68
                  c0.86,0.02,1.69,0.03,2.51,0.03c2.66,0,5.13-0.12,7.41-0.4c3.71-0.46,6.86-1.34,9.56-2.7l2.3,0.34L102.48,123.42z"/>
                <path class="st2" d="M70.93,107.47c1.47,0.14,2.99,0.28,4.59,0.42c3.98,0.34,7.7,0.7,11.29,1.04c7.38,0.7,13.86,1.32,19.55,1.53
                  c-1.88,4.51-14.48,4.46-23.79,4.43c-0.82,0-1.63-0.01-2.41-0.01c-3.22,0-5.66-0.86-7.24-2.54C71.34,110.65,71,108.53,70.93,107.47z
                  "/>
                <path class="st0" d="M38.35,97.18L38,95.57c16.88,2.1,46.59,5.41,79.41,7.32c0.03,0,0.07,0,0.1,0c0.05,0,0.09,0,0.14-0.01
                  c0.87-0.07,8.7-0.74,15-1.41c0.01,0,0.01,0,0.02,0c-8.21,9.74-22.07,8.42-45.74,6.17c-3.6-0.34-7.31-0.7-11.3-1.04
                  c-19.02-1.64-28.43-3.53-32.98-4.84C40.49,101.14,38.84,99.39,38.35,97.18z"/>
                <path class="st0" d="M138.71,8.9c1.25,1,3.28,3.21,3.28,7.06v11.44l9.88,5.9l-2.77,51.26l-1.78,1.05l-0.07,2.39
                  c-0.05,1.87-1.04,3.55-2.65,4.5c-2.56,1.51-6.3,3.79-10.36,6.46C134.93,89.08,138.57,35.02,138.71,8.9z"/>
                <path class="st1" d="M137.42,5.79c0.19,25.51-4.04,87.08-4.52,94.02c0,0.02-0.01,0.04-0.01,0.06c-0.18,0.12-0.35,0.23-0.53,0.35
                  c-5.37,0.57-11.8,1.13-14.06,1.32c2.28-27.76,5.77-92.39,6.18-100.02c5,1.24,10.91,3.26,12.65,3.87
                  C137.3,5.45,137.42,5.61,137.42,5.79z"/>
                <path class="st2" d="M24.48,92.15c-0.24-5.3-1.28-34.38,2.05-86.15c0.01-0.21,0.18-0.38,0.39-0.4c30.21-2.3,88.85-3.98,96.28-4.19
                  c-0.4,7.45-3.91,72.46-6.19,100.17c-45.39-2.67-84.72-7.98-92.16-9.03C24.64,92.53,24.49,92.36,24.48,92.15z"/>
                <path class="st1" d="M110.7,85.29c0.06-0.13,0.1-0.27,0.12-0.42c0.62-7.59,4.14-51.79,3.92-68.93c0-0.18-0.05-0.34-0.12-0.49
                  l3.83-2.81c-0.37,7.53-2.86,58.59-4.25,77.17L110.7,85.29z"/>
                <path class="st1" d="M117.12,12.02l-3.78,2.77c-8.2,0.08-51.22,0.57-76.2,2l-5.69-2.66C42.19,13.63,80.7,11.96,117.12,12.02z"/>
                <path class="st1" d="M29.63,14.7l6.34,2.97c-0.01,0.02-0.01,0.05-0.02,0.07C35.1,22.15,31.53,43.06,33,78.27
                  c0,0.08,0.02,0.15,0.03,0.23l-5.36,4.29C27.26,61.75,29.2,23.04,29.63,14.7z"/>
                <path class="st1" d="M28.55,83.72l5.44-4.35c4.35,0.82,24.37,4.13,75.59,6.56l3.69,4.78c-7.73-0.47-38.9-2.38-48.13-3.16
                  C56.12,86.79,34.36,84.37,28.55,83.72z"/>
                <path d="M119.75,12.33c0.02-0.41-0.13-0.82-0.42-1.12c-0.29-0.3-0.68-0.47-1.1-0.47c-38.88-0.11-80.48,1.8-88.43,2.18
                  c-0.78,0.04-1.4,0.65-1.44,1.43c-0.41,7.83-2.44,47.94-1.97,69.1c0.02,0.76,0.6,1.39,1.35,1.47c4.57,0.51,27.86,3.11,37.29,3.9
                  c9.52,0.8,42.31,2.81,48.79,3.2c0.03,0,0.06,0,0.09,0c0.78,0,1.45-0.61,1.51-1.4C116.82,72.35,119.45,18.42,119.75,12.33z
                  M110.7,85.29c0.06-0.13,0.1-0.27,0.12-0.42c0.62-7.59,4.14-51.79,3.92-68.93c0-0.18-0.05-0.34-0.12-0.49l3.83-2.81
                  c-0.37,7.53-2.86,58.59-4.25,77.17L110.7,85.29z M117.12,12.02l-3.78,2.77c-8.2,0.08-51.22,0.57-76.2,2l-5.69-2.66
                  C42.19,13.63,80.7,11.96,117.12,12.02z M29.63,14.7l6.34,2.97c-0.01,0.02-0.01,0.05-0.02,0.07C35.1,22.15,31.53,43.06,33,78.27
                  c0,0.08,0.02,0.15,0.03,0.23l-5.36,4.29C27.26,61.75,29.2,23.04,29.63,14.7z M28.55,83.72l5.44-4.35
                  c4.35,0.82,24.37,4.13,75.59,6.56l3.69,4.78c-7.73-0.47-38.9-2.38-48.13-3.16C56.12,86.79,34.36,84.37,28.55,83.72z"/>
                <path d="M61.45,100.09c-0.83,0-1.49,0.67-1.49,1.49s0.67,1.49,1.49,1.49s1.49-0.67,1.49-1.49S62.28,100.09,61.45,100.09z"/>
                <path d="M65.72,100.47c-0.83,0-1.49,0.67-1.49,1.49c0,0.83,0.67,1.49,1.49,1.49c0.83,0,1.49-0.67,1.49-1.49
                  C67.21,101.14,66.54,100.47,65.72,100.47z"/>
                <path d="M69.93,100.86c-0.83,0-1.49,0.67-1.49,1.49s0.67,1.49,1.49,1.49c0.83,0,1.49-0.67,1.49-1.49S70.76,100.86,69.93,100.86z"/>
                <g>
                  <path class="st3" d="M40.7,56.26c-0.63-0.01-0.9-0.29-0.89-0.93l0.29-16.36c0.01-0.63,0.29-0.9,0.92-0.89l2.63,0.05
                    c0.66,0.01,1.06,0.2,1.48,0.71l4.8,5.69l0.1-5.38c0.01-0.63,0.29-0.9,0.93-0.89l3.79,0.07c0.63,0.01,0.9,0.29,0.89,0.93
                    l-0.29,16.36c-0.01,0.63-0.29,0.9-0.92,0.89l-3.79-0.07c-0.63-0.01-0.9-0.29-0.89-0.93l0.06-3.11l-4.22-5.3l-0.15,8.33
                    c-0.01,0.63-0.29,0.9-0.93,0.89L40.7,56.26z"/>
                  <path class="st3" d="M59.09,56.59c-0.63-0.01-0.9-0.29-0.89-0.93l0.29-16.36c0.01-0.63,0.29-0.9,0.92-0.89l3.91,0.07
                    c0.63,0.01,0.9,0.29,0.89,0.93l-0.22,12.5l3.46,0.06l0.07-4.09c0.01-0.63,0.29-0.9,0.93-0.89l3.66,0.07
                    c0.63,0.01,0.9,0.29,0.89,0.93l-0.14,7.95c-0.01,0.63-0.29,0.9-0.92,0.89L59.09,56.59z"/>
                  <path class="st3" d="M79.34,56.96l-3.71-0.07c-0.63-0.01-0.9-0.29-0.89-0.93l0.12-6.67c0.02-1.01,0.34-2.27,1.06-4.02l2.3-5.69
                    c0.21-0.58,0.62-0.82,1.3-0.81l6.79,0.12c0.66,0.01,1.06,0.27,1.25,0.86l2.09,5.77c0.65,1.78,0.93,3.05,0.91,4.06l-0.12,6.67
                    c-0.01,0.63-0.29,0.9-0.93,0.89l-3.81-0.07c-0.68-0.01-0.98-0.3-0.97-0.93l0.06-3.53l-4.47-0.08l-0.06,3.53
                    C80.25,56.69,79.97,56.97,79.34,56.96z M80.66,47.94l3.96,0.07l-1.12-3.86c-0.12-0.31-0.27-0.43-0.47-0.44l-0.63-0.01
                    c-0.2,0-0.36,0.12-0.49,0.42L80.66,47.94z"/>
                  <path class="st3" d="M93.81,57.22c-0.63-0.01-0.9-0.29-0.89-0.93l0.29-16.36c0.01-0.63,0.29-0.9,0.92-0.89l8.05,0.15
                    c3.31,0.06,4.83,1.3,4.78,3.95l-0.02,1.21c-0.03,1.41-0.52,2.29-1.54,2.7c2.17,0.24,3.16,1.5,3.11,3.97l-0.04,2.32
                    c-0.05,2.83-1.61,4.11-4.97,4.05L93.81,57.22z M98.66,53.01l3.28,0.06c0.66,0.01,0.97-0.31,0.98-0.99l0.02-0.98
                    c0.01-0.68-0.29-0.99-0.94-1l-3.28-0.06L98.66,53.01z M98.78,46.14l2.15,0.04c0.66,0.01,0.97-0.31,0.98-0.99l0.01-0.71
                    c0.01-0.68-0.28-1.01-0.94-1.03l-2.15-0.04L98.78,46.14z"/>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-11">
        <nav class="navbar main-menu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/post/create">new post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">about me</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>